<div >
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-menu-item routerLink="/login/page/add-customer" routerLinkActive="active">
            <span nz-icon nzType="form" nzTheme="outline"></span>            
            <span>Add Customer</span>
        </li>
        <li nz-menu-item routerLink="/login/page/customer" routerLinkActive="active">
            <span nz-icon nzType="user" nzTheme="outline"></span>
            <span>Customers</span>
        </li>
        <li nz-menu-item>
            <span nz-icon nzType="file"></span>
            <span>File</span>
        </li>
    </ul>
</div>
