<nz-layout class="full-page">
    <nz-sider class="side-bar">
        <app-side-bar></app-side-bar>
    </nz-sider>
    <nz-layout class="content-page">
        <nz-header class="page-header">
            <app-page-header></app-page-header>
        </nz-header>
        <nz-content class="page-content">
            <router-outlet></router-outlet>
        </nz-content>
        <!-- <nz-footer class="page-footer">
            <app-page-footer></app-page-footer>
        </nz-footer> -->
    </nz-layout>
</nz-layout>