<div class="home">
    <div class="auth">
        <div class="auth_left">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate enim omnis praesentium possimus nobis aliquid, corporis ullam blanditiis quis, eaque officia deserunt dolore, harum quas porro quasi perspiciatis asperiores. Assumenda.</p>
        </div>
        <div class="auth_right">
            <div class="log_btn">
                <li class="btn_log" routerLink="/login" routerLinkActive="active1">Login</li>
                <li class="btn_log" routerLink="/register" routerLinkActive="active1">Register</li>
            </div>
            <div class="log_content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>    
</div>